div {
  /*border: 1px solid blue;*/
  background-color: white;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Lato', sans-serif;

}

a {
color: white;
text-decoration: none;
margin-left: .5em;

}

h2 {
text-decoration: underline;
}

h5 {
  font-weight: bold;

}


#title {
  background-color: #24292e;
  color: white;
  font-size: 5em;
  text-align: center;
  padding-top: .25em;
  padding-bottom: .1em;
}

#header {
  background-color: #383e44;
  color: white;
  text-align: center;

}

#footer {
  background-color: #24292e;
  color: white;
  text-align: center;
}
.container {
  border: 1px solid black;
}

.list {
  color: black;
  text-decoration: underline;
}

.links {
  margin-top: 1em;
  position: sticky;
  top: 5em;
}

.img-responsive{
  max-width: 100%;
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 4.5em;
}


/* Larger than tablet */
@media (min-width: 750px) {
  body {
    font-size: 1.75em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
       }
}


/*.button-responsive{
  max-width: 25%;
  padding: .2em .2em;
  position:relative;
}*/
